@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

* {
  background-color: #050A30;
  margin: 0;
}

.help{
  border-width: 3px;
  border-style: dashed;
  border-color: red;
}

.App {
  text-align: center;
}

.slide-border {
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-left: 30px;
}

.logo {
  display: flex; 
  cursor: pointer;
}

.logo-image {
  width: 150px;
}

.logo-name {
  display: flex;
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  font-size: 40px;
  
  text-align: left; 
  font-size: 30px;
  margin-top: 40px;
  margin-left: 10px;  
}

.slide-in-right1 {
  animation: Slide_in_right1 0.75s ease;
}

.slide-in-right2 {
  animation: Slide_in_right2 1.5s ease;
}

@keyframes Slide_in_right1{
    
  0% {
      transform: translateX(-150px);
  }
  100% {
      transform: translateX(0px);
  }
}

@keyframes Slide_in_right2{
  
  0% {
      transform: translateX(-300px);
  }
  100% {
      transform: translateX(0px);
  }
}

.titel {
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  font-size: 50px;
  margin-right: 6vw;
}

.about-me {
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  padding: 20px;
  font-size: 20px;
  background-color: #000C66;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  cursor: pointer;
}




.content {
  padding-top: 10vh;
  padding-left: 10vh;
  padding-right: 10vh;
}

.pics{
  width: 100%;
  cursor: pointer;
}

.gallery{
  column-count: 4;
  
}

.gallery .pics{
  margin-bottom: 12px;
}

.loading {
  font-family: 'Montserrat', sans-serif;
  color: aliceblue;
  font-size: 20px;
}

.emoticon3:before {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    color:#FBF9FA;
    margin-top: 2vh;
    content: '';
    animation: rotation infinite 1.5s;
    margin-right: 2vw;
}

@keyframes rotation {
    0%{
        content: '　\\(^_^)/　';
    }
    12.5%{
        content: '　(\\^_)/　';
    }
    25%{
        content: '　( |^)/　';
    }
    37.5%{
        content: '　(　/)　';
    }
    50%{
        content: '　\\(　 )/　';
    }
    62.5%{
        content: '　(\\　)　';
    }
    75%{ 
        content: '　\\(^| )　';
    }
    87.5%{
        content: '　\\(_^/)　';
    }
    100%{
        content: '　\\(^_^)/　';
    }
}

